<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-ainelistaus</title>
    </head>

    <body>
        <h1>Raaka-aineet</h1>

        <ul>
            <li th:each="raakaaine : ${raakaaine_index}">
                <a th:href="${'/raakaaine/' + raakaaine.id}"><span th:text="${raakaaine.nimi}"></span></a>
            </li>
        </ul>
        
        <h2>Lisää uusi raakaaine</h2>

        <form method="POST" action="/raakaaine/">
            Lisättävä raakaaine:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <h2>Poista rakaa-aine</h2>
        
        <p>Raaka-aineen voi poistaa ainoastaan, jos se ei ole osana missään reseptissä</p>
        
        <form method="POST" action="/poista_raakaaine/">
            <h3>Poistettava raaka-aine:</h3>
        
            <select name="raakaAine">
                    <option th:each="raakaaine : ${raakaaine_index}" 
                            th:value="${raakaaine.id}" 
                            th:text="${raakaaine.nimi}">raaka-aineen nimi</option>
            </select>
            <input type="submit" value="Poista"/>
        </form>

        <ul>
            <li>
              <a href="/">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>